<table id="table" class="hover" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th data-field="name">Client Name</th>
        <th data-field="rules">Rules</th>
    </tr>
    </thead>
    <tbody>

    {{#clients}}
        <tr>
            <th>{{name}}</th>
            <th>
                {{#rules}}
                    <a data-toggle="tooltip" title={{#generic}}"Generic rule"{{/generic}}{{^generic}}"Whitelisted rule"{{/generic}}>
                    <div><button type="button" {{^enabled}}disabled{{/enabled}}
                        class="btn btn-disabled {{#generic}}btn btn-warning{{/generic}}{{^generic}}btn-info{{/generic}}"
                        onclick="onRuleButtonClick(this.id);" id="{{script}}" >{{name}}
                    </button></div>
                    </a>
                {{/rules}}
            </th>
        </tr>
    {{/clients}}

    </tbody>
</table>