<table id="table">
    <thead>
    <tr>
        <th data-field="name">Client Name</th>
        <th data-field="id">Client ID</th>
        <th data-field="rules">Rules</th>
    </tr>
    </thead>
</table>